@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600;700&display=swap');

body {
  background-color: #000000;
  overflow-x: none;
  font-family: 'Sono', sans-serif;
}

.container {
  padding-top: 2%;
  max-width: 95% !important;
}

.main-heading {
  text-align: center;
  margin-top: -2.5%;

}

.heading {
  color: #FFFFFF;
}

.text {
  color: #FFFFF3;
  white-space: 'no-wrap';
}

li {
  list-style: none;
}

.box {
  border: 1px solid #1a9258;
  padding: 20px 10px;
  margin: 20px 0;
}

.nav .nav-item .nav-link {
  color: #fff;
  background-color: #249644;
  margin: 10px 10px 30px 0;
  text-transform: capitalize;
  font-weight: 500;
}

.nav .nav-item .one {
  margin-left: -10px;
}

.btns {
  margin-left: 82%;
  width: 18%;

}

.btns .btn {
  color: #fff;
  background-color: #1a9258;
  margin-right: 20px;
}

ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 10px;
}

.row.typeContent,
.watch {
  border: 2.5px solid hwb(137deg 14% 41%);
  background: #16181c;
  padding: 2% 1.5%;
  border-radius: 7px;
  margin-bottom: 5%;

}

.btns {
  margin-left: 1%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 0.5%;
}

.about {
  color: #fff;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 1% 30%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-bottom: -4%;
  justify-content: center;
  margin-top: -1%;

}

.subheading {
  font-size: 1.5rem;
  color: white;
}

.btns .btn,
.upload {
  color: #fff;
  background-color: #249644;
  margin-right: 20px;
  font-weight: 500;
}

.active {
  background: transparent !important;
  border: 2px solid #249644;
}

.watch {
  min-height: 80vh;
  max-height: max-content;
  margin-top: 3%;

}

.upload {
  /* position: absolute; */
  /* right: 95px; */
  width: fit-content;
}
.fa-cloud {
  color: gray;
  font-size: 50px;
}

.cloud {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width:768px) {

  .list {
    width: 100%;
  }

  .nav .nav-item .nav-link {
    margin-right: 5px;
  }

  .btns {
    width: 40%;
    margin-left: 60%;
  }
}


/*Mobile styles added*/
@media only screen and (max-width: 450px) {

  h1.main-heading {
    font-size: 2.5rem;
  }

  .about {
    padding: 1% 7%;
    font-size: 1.25rem;
  }

  .nav .nav-item .nav-link {
    margin-bottom: 6px;
  }

  .row.typeContent {
    padding: 6% 4% 6% 4%;
  }


  .btns {
    margin-left: 0;
    width: 100%;
    white-space: nowrap;
  }

  ul.nav {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .upload {
    right: 0;
    width: 40%;
  }

}

@media (max-width: 320px) {
  .upload {
    width: 50%;
  }

  .watch {
    margin-top: 3%
  }
}

.uploadDiv{
  display: flex;
    justify-content: end;
    margin-left: 1.5%;
    margin-top: 1%;
}

.watch {
  min-height: 80vh;
  max-height: max-content;
  margin-top: 3%;
  padding: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}